<!-- data table cdn adn style -->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.js"></script>


<div class="container-xxl position-relative bg-white d-flex p-0">


    <!-- Content Start -->
    <div class="content">


        <!-- Table Start -->
        <div class="container-fluid pt-4 px-4">
            <div class="row g-4">
                <div class="col-sm-12 col-xl-12">
                    <div class="bg-light rounded h-100 p-4">
                        <div class="d-flex justify-content-between pb-3">
                            <h6 class="mb-4">Category</h6>
                            <button type="button" class="btn btn-primary" data-toggle="modal"
                                data-target="#addCategoryForm" data-whatever="@addCategory">Add Category</button>
                            <div class="modal fade" id="addCategoryForm" tabindex="-1" role="dialog"
                                aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Add a Category</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <form action="/admin/addCategory" method="post"
                                                enctype="multipart/form-data">
                                                <div class="form-group">
                                                    <label for="recipient-name" class="col-form-label">Category</label>
                                                    <input type="text" name="category" class="form-control"
                                                        id="recipient-name">
                                                </div>
                                                <div class="form-group">
                                                    <label for="message-text" class="col-form-label">Discription</label>
                                                    <textarea class="form-control" name="discription"
                                                        id="message-text"></textarea>
                                                </div>
                                                <div class="form-group">
                                                    <label for="image" class="col-form-label">Image</label>
                                                    <input type="file" name="image" class="form-control" id="">
                                                </div>
                                                <button type="submit" class="btn btn-primary ms-auto">Submit</button>
                                            </form>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <table class="table text-center" id="category_table">
                    <thead>
                        <tr>
                            <th scope="col" class="text-center">Number</th>
                            <th scope="col" class="text-center">Image</th>
                            <th scope="col" class="text-center">Category</th>
                            <th scope="col" class="text-center">Discripiton</th>
                            <th scope="col" class="text-center">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% showCategory.forEach((el,index)=>{%>
                            <tr>
                                <td>
                                    <%= index+1 %>
                                </td>
                                <td>
                                    <img style="width: 100px;" src="<%= el.image %>" alt="">
                                </td>
                                <td>
                                    <%= el.category %>
                                </td>
                                <td>
                                    <%= el.discription%>
                                </td>
                                <td>
                                    <a src="/admin/editCategory/<%= el._id%>" class="text-primary" data-toggle="modal"
                                        data-target="#edit<%= el._id%>" data-whatever="@editCategory"
                                        style="cursor: pointer;"><i class="bi bi-pencil-square"></i></a>
                                    <div class="modal fade" id="edit<%= el._id%>" tabindex="-1" role="dialog"
                                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel">Edit Category</h5>
                                                    <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>

                                                <div class="modal-body">
                                                    <form action="/admin/editCategory/<%= el._id %>" method="post"
                                                        enctype="multipart/form-data">
                                                        <div class="form-group">
                                                            <label for="recipient-name"
                                                                class="col-form-label">Name</label>
                                                            <input type="text" name="category" class="form-control"
                                                                id="recipient-name" value="<%= el.category %> ">
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="message-text"
                                                                class="col-form-label">Discription</label>
                                                            <input class="form-control" name="discription"
                                                                id="message-text"
                                                                value="<%= el.discription %> "></input>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="image" class="col-form-label">Image</label>
                                                            <input type="file" name="image" class="form-control" id="">
                                                        </div>
                                                        <button type="submit"
                                                            class="btn btn-primary ms-auto">Submit</button>
                                                    </form>
                                                </div>

                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary"
                                                        data-dismiss="modal">Close</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <a href="/admin/deleteCategory/<%= el._id %> " class="text-danger"><i
                                            class="bi bi-trash" style="cursor: pointer;"
                                            onclick="return confirm('Do you want to delete..?')"></i></a>
                                </td>
                            </tr>
                            <% }) %>
                    </tbody>
                </table>
            </div>
        </div>

        <script>
            $(document).ready(function () {
                $('#category_table').DataTable();
            });
        </script>