<div class="container-xxl position-relative bg-white d-flex p-0">
    <!-- Table start -->
    <section class="content">
        <div class="container-fluid pt-4 px-4">
            <div class="row g-4">
                <div class="col-sm-12 col-xl-12">
                    <div class="bg-light rounded h-100 p-4">
                        <div class="d-flex justify-content-between pb-3">
                            <h6 class="mb-4">Coupons List</h6>

                            <button type="button" class="btn btn-primary" data-toggle="modal"
                                data-target="#addNewCoupon" data-whatever="@addCoupon">Add Coupon</button>
                            <!-- Modal Start -->
                            <div class="modal fade" id="addNewCoupon" tabindex="-1" role="dialog"
                                aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Add a coupon</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <form action="/admin/addCoupon" method="post">
                                                <div class="form-group">
                                                    <label for="recipient-name" class="col-form-label">Name</label>
                                                    <input type="text" name="name" class="form-control"
                                                        id="recipient-name">
                                                </div>
                                                <div class="form-group">
                                                    <label for="message-text" class="col-form-label">Discription</label>
                                                    <textarea class="form-control" name="discription"
                                                        id="message-text"></textarea>
                                                </div>
                                                <div class="form-group">
                                                    <label for="discription" class="col-form-label">Discount</label>
                                                    <input type="number" name="discount" class="form-control" id="">
                                                </div>
                                                <div class="form-group">
                                                    <label for="discription" class="col-form-label">Max Use</label>
                                                    <input type="number" name="maxUsage" class="form-control">
                                                </div>
                                                <div class="form-group">
                                                    <label for="datetime-local" class="col-form-label">Start
                                                        Date</label>
                                                    <input type="datetime-local" name="startDate" class="form-control"
                                                        id="">
                                                </div>
                                                <div class="form-group">
                                                    <label for="expiry" class="col-form-label">Expiry</label>
                                                    <input type="datetime-local" name="expiry" class="form-control"
                                                        id="">
                                                </div>
                                                <button type="submit" class="btn btn-primary ms-auto">Submit</button>
                                            </form>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="bg-light rounded h-100 p-4">
                        <h6 class="mb-4">Coupons List</h6>
                        <div class="table-responsive">
                            <table class="table text-center">
                                <thead>
                                    <tr>
                                        <th scope="col">NO</th>
                                        <th scope="col">Name</th>
                                        <th scope="col">Discription</th>
                                        <th scope="col">Discount</th>
                                        <th scope="col">Max Use</th>
                                        <th scope="col">Started At</th>
                                        <th scope="col">Expiry</th>
                                        <th scope="col">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <%showCoupons.forEach((el,index)=>{%>

                                        <tr>
                                            <th scope="row">
                                                <%= index + 1 %>
                                            </th>
                                            <td>
                                                <%= el.name %>
                                            </td>
                                            <td>
                                                <%= el.discription %>
                                            </td>
                                            <td>
                                                <%= el.discount %>
                                            </td>
                                            <td>
                                                <%= el.maxUsage %>
                                            </td>
                                            <td title="<%= el.startDate %>">
                                                <%= el.startDate.getFullYear() %>-<%= el.startDate.getMonth()+1 %>-<%=
                                                            el.startDate.getDate() %>T<%= el.startDate.getHours() %>:<%=
                                                                    el.startDate.getMinutes() %>
                                            </td>

                                            <td title="<%= el.expiry %>">
                                                <%= el.expiry.getFullYear() %>-<%= el.expiry.getMonth()+1 %>-<%=
                                                            el.expiry.getDate() %>T<%= el.expiry.getHours() %>:<%=
                                                                    el.expiry.getMinutes() %>
                                            </td>

                                            <td>
                                                <a href="/admin/editCoupon/<%= el._id %>" data-toggle="modal"
                                                    data-target="#editCoupon<%= el._id %>"
                                                    data-whatever="@editCoupon"><i class="bi bi-pencil-square"></i></a>

                                                <!-- Modal Start -->
                                                <div class="modal fade" id="editCoupon<%= el._id %>" tabindex="-1"
                                                    role="dialog" aria-labelledby="exampleModalLabel"
                                                    aria-hidden="true">
                                                    <div class="modal-dialog" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="exampleModalLabel">Edit
                                                                    coupon
                                                                </h5>
                                                                <button type="button" class="close" data-dismiss="modal"
                                                                    aria-label="Close">
                                                                    <span aria-hidden="true">&times;</span>
                                                                </button>
                                                            </div>
                                                            <div class="modal-body text-start">
                                                                <form action="/admin/editCoupon/<%= el._id %>"
                                                                    method="post">
                                                                    <div class="form-group">
                                                                        <label for="recipient-name"
                                                                            class="col-form-label">Name</label>
                                                                        <input type="text" name="name"
                                                                            class="form-control" id="recipient-name"
                                                                            value="<%= el.name %> ">
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for="message-text"
                                                                            class="col-form-label">Discription</label>
                                                                        <input type="text" class="form-control"
                                                                            name="discription" id="message-text"
                                                                            value="<%= el.discription %>"></input>
                                                                    </div>

                                                                    <div class="form-group">
                                                                        <label for="discription"
                                                                            class="col-form-label">Discount</label>
                                                                        <input type="text" name="discount"
                                                                            class="form-control"
                                                                            value="<%= el.discount %>">
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for="discription"
                                                                            class="col-form-label">Max Usage</label>
                                                                        <input type="number" name="maxUsage"
                                                                            class="form-control"
                                                                            value="<%= el.maxUsage %>">
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for="date" class="col-form-label">Start
                                                                            Date</label>
                                                                        <input type="datetime-local" name="startDate"
                                                                            class="form-control"
                                                                            value="<%= el.startDate.getFullYear() %>-<%= el.startDate.getMonth()+1 %>-<% if(el.startDate.getDate()<10) {%>0<%= el.startDate.getDate() %><% }else{ %><%= el.startDate.getDate() %><% } %>T<% if(el.startDate.getHours()<10) {%>0<%= el.startDate.getHours() %><% }else{ %><%= el.startDate.getHours() %><% } %>:<%=el.startDate.getMinutes() %>">
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for="expiry"
                                                                            class="col-form-label">Expiry</label>
                                                                        <input type="datetime-local" name="expiry"
                                                                            class="form-control"
                                                                            value="<%= el.expiry.getFullYear() %>-<%= el.expiry.getMonth()+1 %>-<% if(el.expiry.getDate()<10) {%>0<%= el.expiry.getDate() %><% }else{ %><%= el.expiry.getDate() %><% } %>T<% if(el.expiry.getHours()<10) {%>0<%= el.expiry.getHours() %><% }else{ %><%= el.expiry.getHours() %><% } %>:<%=el.expiry.getMinutes() %>">
                                                                    </div>
                                                                    <button type="submit"
                                                                        class="btn btn-primary ms-auto">Submit</button>
                                                                </form>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary"
                                                                    data-dismiss="modal">Close</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <% if(el.status==true){ %>
                                                    <a href="/admin/disableCoupon/<%= el._id %>"
                                                        onclick="return confirm('Do you want to desable the coupon?')"><i
                                                            class="bi bi-lock-fill"></i></a>
                                                    <% } else { %>
                                                        <a href="/admin/enableCoupon/<%= el._id %>"
                                                            onclick="return confirm('Do you want to enable the coupon?')"><i
                                                                class="bi bi-unlock-fill"></i></a>
                                                        <% } %>
                                            </td>
                                        </tr>
                                        <% }) %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>